<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<link href="../static/css/asd.css" th:href="@{/css/asd.css}" rel="stylesheet" />
<title>Venta Productos</title>
</head>
<body>

<h1>Ingresar Productos</h1>
<form th:action="@{/formProducto}" th:object="${producto}" method="post">
<div>
 <label for="">Nombre del Producto:</label><br>
<input type="text" th:field="${producto.nombre}"><br>
<span th:errors="*{nombre}" ></span><br>
</div>
<div>
<label for="">Descripcion del Producto:</label><br>
<input type="text" th:field="*{descripcion}"><br>
<span th:errors="*{descripcion}" ></span><br>
</div>
<div>
<label for="">Precio del Producto:</label><br>
<input type="number" th:field="*{precio}"><br>
<span th:errors="*{precio}" ></span><br>
</div>
<div>
<label for="">Vencimiento del Producto:</label><br>
<input type="text" th:field="*{vencimiento}"><br>
<span th:errors="*{vencimiento}" ></span><br>
</div>
<div>
<input type="submit" value="AgregarProducto">
</div>

</form>




</body>
</html>